<div class="post">
    <section>
        <h2>{{post.title}}</h2>
        <p> {{post.content}} </p>
        <h4>Shared by {{post.user_id}} on {{format_date post.date_created}}</h4>
    </section>
    <section>
        <h3>Comments: </h3>
        {{#each post.comments as |comment|}}
        <div class="comment-sec">
            <p>{{comment.content}}</p>
            <h4>Commented by {{comment.user_id}} on {{ format_date comment.comment_date }}</h4>
        </div>
        {{/each}}
    </section>
    {{!-- Able to add comment if logged in --}}
    {{#if logged_in}}
    <section>
        <div>
            <form class="add-comment">
                <p><label for="comment">Comment:</label></p>
                <textarea id="new-comment" name="comment" rows="5" cols="60"></textarea>
                <br>
                <button type="submit" class="btn comment-btn">Add Comment</button>
            </form>                
        </div>
    </section>
    {{/if}}
</div>

{{#if logged_in}}
    <script src="/js/comment.js"></script>
{{/if}}